<html>
<head>
  <title>Budget Management</title>
  <link rel="stylesheet" href= "/resource/budget.css">
  <link rel="shortcut icon" href="resource/favicon.ico" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
  <script src="resource/budget.js"></script>
</head>
<body>
  <div class="navbar">
          <a href = "main.html"><button class="navbtn">HOME</button></a>
          <a href = "stress.html"><button class="navbtn">STRESS</button></a>
          <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
          <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
          <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
          <a href = "blog.html"><button class="navbtn">BLOG</button></a>
          <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
          <a href = "{{log}}"><button class="navbtn">{{text}}</button></a>

  </div>
  <!-- First Image -->

    <div class="bgimg-1">
      <img class="bgimg-1" src="/resource/budget1.png">
      <h4><em>(Scroll down)</h4>
    </div>

  <!-- About Section -->
    <div class="item-padding">
        <h2><em>Here are 10 tips on how you can manage your budget in college.</h2><p><em>Click each for more information</p>

          <ol>
            <li id="budget_tip1"><b>Spend Less Money</b></li>
              <p id="budget_tip1P">It sounds simple, right? Spending less money is not always that easy though, especially if you are just now trying to re-prioritize your money matters. Once a budget is in place, you should have a good idea of how much ‘extra’ cash you have left over each month for spending after your financial obligations and savings goals have been met. Start finding ways to cut back on the existing expenses you already budget for such as cutting out the expensive cable package and eating dinners at home.</p>
            <li id="budget_tip2"><b>Increase Your Pay</b></li>
              <p id="budget_tip2P">Some budget simply do not work out because you don’t have enough cash to go around. Ask at work about working some overtime on a regular basis. If you are allowed to put in the extra hours, continue doing so and stash the extra earnings into an emergency savings account to help you cover unexpected expenses that can blow your budget.</p>
            <li id="budget_tip3"><b>Take on Part-Time Work</b></li>
              <p id="budget_tip3P">There are opportunities to earn more through a part-time second job. If you can fit it into your schedule, you can earn extra cash that is allocated directly to a debt you’d like to eliminate from your monthly expenses such as credit balances. Each paycheck from the second job can be directly devoted to a specific debt until it is paid off. Depending on how much debt you have, you may not have to keep your second job for very long and it can be motivating for you to eliminate debts as fast as possible.</p>
            <li id="budget_tip4"><b>Supplement Your Income</b></li>
              <p id="budget_tip4P">If you do not have time or the opportunity for a second job, pick up some extra odd jobs like babysitting or turning a hobby or skill into cash. There are many people who have started a side business to earn some extra cash that ended up finding a whole new career. There are many creative ways to earn more money if you can choose a skill you already have mastered, provided you do not incur more debt buying supplies.</p>
            <li id="budget_tip5"><b>Clarify Needs and Wants</b></li>
              <p id="budget_tip5P">There is a big difference between buying the things you need and the things you want. Consumers need to seriously consider and be honest about their shopping and spending habits. Create a list for yourself of the things you and your family actually need to survive. When you want to purchase something outside of that list, give yourself a three day waiting period before making a buying decision. For big-ticket items, in addition to the cooling period, you should also make a plan for saving cash for the purchase rather than using the convenient (and budget-busting) credit cards.</p>
            <li id="budget_tip6"><b>Re-Evaluate Your Recreation</b></li>
              <p id="budget_tip6P">People often don’t realize how much they spend on recreation they think they need such as magazine subscriptions, gym memberships, and you may pay for automatically without much thinking. While some fees are small on a monthly basis, canceling such activities can add up within a year’s time. Go through your checkbook and budget to see where you have been spending for things you don’t use or need.</p>
            <li id="budget_tip7"><b>Downsize Your Life</b></li>
              <p id="budget_tip7P">If you are having difficulties making ends meet, it may be time to downsize your life and simplify your daily living as you focus on financial freedom in the future. Look around your home to see if there are any items you no longer need. Sell them at a yard sale or through a consignment shop. By decluttering your life, you can learn valuable lessons in spending less and feel less disorganized.</p>
            <li id="budget_tip8"><b>Quit Bad Habits</b></li>
              <p id="budget_tip8P">Alcohol and tobacco prices are increasing every day and you may not realize how much your bad habits actually cost you. There are plenty of free ways to distress and get rid of anxiety that are much healthier for you than smoking and drinking. Not only will quitting these bad habits save you monthly, within your lifetime you may also have to spend less on healthcare, medical bills, and emergencies.</p>
            <li id="budget_tip9"><b>Get Frugal</b></li>
              <p id="budget_tip9P">Frugality used to be a word that carried a stigma. People who practiced frugality in year’s past were thought to be cheap but in light of the economic uncertainty across the country, frugality has become cool. Get in the habit of seeking out discounts, coupons and other frugal deals rather than just sitting back and paying full price for everything. You may be surprised at what kind of deals you get just for opening your mouth and asking. There are many fun and creative ways to save money on everything from weekly groceries to larger, big-ticket purchases.</p>
            <li id="budget_tip10"><b>Refine Your Goals</b></li>
              <p id="budget_tip10P">If you stay on task with balancing your budget and checkbook on a weekly basis, you have a much better idea of where you stand financially from one week to the next. As your budget-balancing tips start paying off, you may find you have extra cash to put into savings. It is important to establish reasonable goals for your financial life for both the short and long term. This list of goals should be reviewed and updated frequently so you can remember exactly why you have been doing all of this hard work. When you accomplish a goal you set, define another goal in its place to keep you motivated and on financial track.</p>
          </ol>
   </div>

  <!-- Second Image -->
          <div class="bgimg-2">
            <p class="parallaxfont">Save Better</p>
          </div>

    <!-- Links Section -->
      <div class="item-padding">
          <h2><em>Here are some links to great budget management videos.</h2>

            <ul>
              <li><b><a href="https://www.youtube.com/watch?v=e8OTUgX-YmA">Ten Money Management Tips</a></b></li>
                <p></p>
              <li><b><a href="https://www.youtube.com/watch?v=5DXKOlr7SeI">How to Budget and Save Money</a></b></li>
                <p></p>
              <li><b><a href="https://www.youtube.com/watch?v=GZ-DgdyoEkg">Budgeting Tips for College Students</a></b></li>
                <p></p>
              <li><b><a href="https://www.youtube.com/watch?v=MIvMCgWOUx4">Money Management: Young Adults</a></b></li>
                <p></p>
              <li><b><a href="https://www.youtube.com/watch?v=TTy1v9rX_8Y">How to Budget as a College Student</a></b></li>
                <p></p>
            </ul>
     </div>
</body>

<div class="spacer"></div>

<footer>
  <p>This website has been created by Tania Nelzy, Anthony Portillo, and Mayckol Zuniga.</p>
  <p> &copy; Struggle Better </p>
</footer>


<html>
