<html>
<head>
  <title>Struggle Better</title>
  <link rel="stylesheet" href= "/resource/main.css">
  <link rel="shortcut icon" href="resource/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="navbar">
        <a href = "main.html"><button class="navbtn">HOME</button></a>
        <a href = "stress.html"><button class="navbtn">STRESS</button></a>
        <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
        <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
        <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
        <a href = "blog.html"><button class="navbtn">BLOG</button></a>
        <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
        <a href = "{{log}}"><button class="navbtn">{{text}}</button></a>

</div>

<!-- First Image -->
  <div></div>
  <div class="imgdiv">
    <img class="bgimg-1" src="/resource/minionsmain.jpg">
    <h1>Struggle Better</h1>
  </div>


  <h2>About Us</h2>
  <div>
  Struggle Better is a website that is meant to help all college students with common struggles like stress, nutrition, time management, and budget management.
  Feel free to explore the blog tab in which you could leave a comment on how you are feeling today. It would also be really helpful if you check out the feedback
  page and leave us feedback on what we could do to make this website more user friendly to give you and other users a better experience.
  We created Struggle Better because we are rising college freshmen and we felt that this website would not only help us but also other students that are going to or for those who are already in college. Thank you for you time!
</div>
<br>
<br>
<br>
<br>
<div class="spacer"></div>

<footer>
  <p>This website has been created by Tania Nelzy, Anthony Portillo, and Mayckol Zuniga.</p>
  <p> &copy; Struggle Better </p>
</footer>

</body>



</html>
