<html>
<head>
  <title>Sign In</title>
  <link rel="stylesheet" href= "/resource/signin.css">
  <link rel="shortcut icon" href="resource/favicon.ico" type="image/x-icon">
</head>

<body>

  <!-- First Image -->

    <div class="bgimg-1">
      <img class="bgimg-1" src="/resource/minion.jpeg">
      <h4><em>(Scroll down)</h4>
    </div>


  <form method="get">
      <div class="signinbox">
            <label for="signinbox">Email</label>
            <input type="text" name="user" placeholder="Email" data-required="required" value>
            <input type="password" tabindex="-1">
            <button>Submit</button>
      </div>
  </form>





</body>
</html>
