<html>
<head>
  <title>Stress</title>
  <link rel="stylesheet" href= "/resource/stress.css">
  <link rel="shortcut icon" href="resource/favicon.ico" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript" ></script>
  <script src="resource/stress.js"></script>
</head>
<body>
  <div class="navbar">
          <a href = "main.html"><button class="navbtn">HOME</button></a>
          <a href = "stress.html"><button class="navbtn">STRESS</button></a>
          <a href = "nutrition.html"><button class="navbtn">NUTRITION</button></a>
          <a href = "time.html"><button class="navbtn">TIME MANAGEMENT</button></a>
          <a href = "budget.html"><button class="navbtn">BUDGET MANAGEMENT</button></a>
          <a href = "blog.html"><button class="navbtn">BLOG</button></a>
          <a href = "feedback.html"><button class="navbtn">FEEDBACK</button></a>
          <a href = "{{log}}"><button class="navbtn">{{text}}</button></a>

  </div>
  <!-- First Image -->

    <div class="bgimg-1">
      <img class="bgimg-1" src="https://c1.staticflickr.com/5/4142/4894306201_d789abedf1_b.jpg">
      <h1><em>STRESS FREE ZONE</h1><br><h4><em>(Scroll down)</h4>
    </div>

  <!-- About Section -->
    <div class="item-padding">
        <h2><em>Here are 10 tips on how you can deal with stress in college.</h2><p><em>Click each for more information</p>

          <ol>
            <li id="stress_tip1"><b>Get Enough Sleep</b></li>
              <p id="stress_tip1P">It may be tempting to hit the hay at 4 a.m. and then attend an 8 a.m. class, but shortchanging yourself on rest can increase your stress level.
                Plus, insufficient sleep can put you at risk for serious illnesses, such as diabetes, obesity, and depression. Adults typically need seven to nine hours of sleep a night for best health.</p>
            <li id="stress_tip2"><b>Eat Well</b></li>
              <p id="stress_tip2P">A steady diet of pizza and vending-machine fare can decrease energy levels in the body, leading to a lower threshold for stress.
                Follow a diet rich in vegetables, fruits, and whole grains.</p>
            <li id="stress_tip3"><b>Exercise</b></li>
              <p id="stress_tip3P">When you’re stressed, moving around may be the last thing you feel like doing. But as little as 20 minutes a day of physical activity can reduce stress levels.
                As for what type of exercise, try something that you enjoy doing, like swimming or yoga.</p>
            <li id="stress_tip4"><b>Avoid unnatural energy boosters</b></li>
              <p id="stress_tip4P">Artificial stimulants like caffeine pills or prescription meds may help you stay awake for that all-night study session, but putting off your body’s need to
                 sleep will ultimately result in an energy crash, resulting again in a greater susceptibility to stress.</p>
            <li id="stress_tip5"><b>Get emotional support</b></li>
              <p id="stress_tip5P">Adjusting to college can be difficult, and venting your frustrations to a trusted friend can go a long way in fighting stress.
                Choose a friend or family member who won’t be judgmental or try to give lots of advice. Or seek the help of a professional counselor or psychologist.
                To find a trusted practitioner, check with your student health center for recommendations.</p>
            <li id="stress_tip6"><b>Don't give up your passions</b></li>
              <p id="stress_tip6P">Your schedule may be filled with lectures and study groups, but try to find at least a couple of hours each week to pursue a hobby or other activity that you enjoy.</p>
            <li id="stress_tip7"><b>Try not to overload yourself</b></li>
              <p id="stress_tip7P">Between classes, extracurricular groups, and maybe even a job, it’s easy for students to take on more than they can handle.
                If you’ve signed up for an excessive number of courses, don’t be afraid to drop one, and remember that you can always say no when you’re asked to organize the Latin Club’s annual yard sale.</p>
            <li id="stress_tip8"><b>Avoid relaxing with alcohol</b></li>
              <p id="stress_tip8P">Having three or four beers to unwind after a hard day of studying may seem perfectly logical, but any unresolved stress that you have will just come flooding back after your buzz subsides.
                Plus, if you overindulge, you may have to deal with unpleasant side effects, like nausea and hangovers, later on.
                If you find yourself drinking regularly before noon, become anxious at the prospect of not drinking, or become unable to “just have one,” you may be developing alcohol dependence.</p>
            <li id="stress_tip9"><b>Breathe</b></li>
              <p id="stress_tip9P">When you feel stressed, deep-breathing exercises can help melt away the tension.
                Try this exercise: Inhale slowly through your nose, hold the breath for a few seconds, then exhale through your mouth, and repeat as needed.
                This helps prevent the short, shallow breaths that often accompany feelings of tension.</p>
            <li id="stress_tip10"><b>Get a massage</b></li>
              <p id="stress_tip10P">If you’re feeling frazzled, try putting yourself in someone else’s hands — literally.
                Stress often causes your muscles to become tight and knotted, and a professional massage therapist can help to loosen them, providing stress relief.
                Educational requirements for massage therapists vary from state to state, so finding a knowledgeable one can be tricky.
                One of the major professional massage associations in the United States, the American Massage Therapy Association, has a searchable directory of massage therapists.</p>
          </ol>
          <a href="https://www.everydayhealth.com/college-health/college-life-10-ways-to-reduce-stress.aspx">Resources</a>
   </div>

  <!-- Second Image -->
          <div class="bgimg-2">
            <p class="parallaxfont">Stay Calm</p>
          </div>
          <div class="item-padding">
            <h2><em>Play some calming music.</h2>
            <iframe width="600" height="500" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/108988654&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>
            <h2><em>Here are some links to great stress managing videos.</h2>

              <ul>
                <li><b><a href="https://www.youtube.com/watch?v=RcGyVTAoXEU">How to Make Stress your Friend</a></b></li>
                  <p></p>
                <li><b><a href="https://www.youtube.com/watch?v=8IUZjCSkbrc">What does Stress do to your Body</a></b></li>
                  <p></p>
                <li><b><a href="https://www.youtube.com/watch?v=lDecu0ME1Zo">Seven Tips to Reduce Stress</a></b></li>
                  <p></p>
                <li><b><a href="https://www.youtube.com/watch?v=v-t1Z5-oPtU">How Stress Affects Your Body</a></b></li>
                  <p></p>
                <li><b><a href="https://www.youtube.com/watch?v=0fL-pn80s-c&t=216s">Stress Management Strategies: Ways to Unwind</a></b></li>
                  <p></p>
              </ul>
       </div>
</body>

<div class="spacer"></div>

<footer>
  <p>This website has been created by Tania Nelzy, Anthony Portillo, and Mayckol Zuniga.</p>
  <p> &copy; Struggle Better </p>
</footer>

</html>
